* {
  margin: 0px;
  padding: 0px;
  font-family: "bebas neue";
}
* button {
  cursor: pointer;
}
.f1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 44px;
  background-color: rgb(240, 240, 240);
}
.na-butt {
  display: flex;
  gap: 24px;
}
.f1 button {
  background: transparent;
  border: none;
}
.apple {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.f2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
}
.pic1 {
  position: absolute;
  width: 100vw;
  z-index: -1;
}
.background-image1 {
  background-image: url("./Background\ copy.png");
  background-position: center;
  height: 100%;
  width: 100%;
}
.background-image2 {
  background-image: url("./pic2.png");
  background-position: center;
  height: 100%;
  width: 100%;
}
.background-image3 {
  background-image: url("./Figure.png");
  background-position: center;
  height: 100%;
  width: 100%;
}
.Frm1 {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  aspect-ratio: 1910/692;
  height: 692px;
  margin-bottom: 10px;
}
.op {
  display: flex;
  background-color: transparent;
  width: 300px;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  font-size: 52px;
  height: 180px;
  gap: 20px;
}
.ip16 {
  height: 60px;
  font-size: 52px;
  color: white;
}
.io {
  height: 32px;
  font-size: 24px;
  color: white;
}
.no1 {
  height: 20px;
  color: white;
  display: none;
}
.iu {
  display: flex;
  height: 44px;
  gap: 16px;
  justify-content: center;
}
.iu-1 {
  display: flex;
  height: 44px;
  gap: 16px;
  justify-content: center;
}
.lrn {
  background-color: #0071e3;
  border-radius: 100px;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  border: none;
}
.buy {
  padding: 12px 20px;
  font-size: 16px;
  color: #0071e3;
  background-color: transparent;
  border-radius: 100px;
  border-color: #0071e3;
}
.lrn2 {
  background-color: white;
  border-radius: 100px;
  padding: 12px 20px;
  font-size: 16px;
  color: black;
  border: none;
}
.buy2 {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border-radius: 100px;
  border-color: white;
}
.top {
  display: flex;
  background-color: transparent;
  width: 405px;
  height: 164px;
  margin-top: 450px;
  flex-direction: column;
  align-items: center;
  font-size: 52px;
  gap: 20px;
}
.gm {
  height: 60px;
  font-size: 52px;
  color: black;
}
.my {
  height: 32px;
  font-size: 24px;
  color: black;
}
.mymy {
  height: 32px;
  font-size: 24px;
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fmr2 {
  display: flex;
  width: 49%;
  gap: 20px;
  aspect-ratio: 942/580;
  justify-content: center;
}
.fmr {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  aspect-ratio: 1900/590;
}
.fmr3 {
  display: flex;
  gap: 20px;
}
.pp {
  position: absolute;
  z-index: -1;
  width: 49%;
}
.pop {
  display: flex;
  background-color: transparent;
  width: 30vw;
  height: 28vw;
  margin-top: 2vw;
  flex-direction: column;
  align-items: center;
  font-size: 4vw;
  gap: 20px;
}
.popy {
  margin-top: -300px;
  display: flex;
  background-color: transparent;
  width: 200px;
  height: 28vw;
  flex-direction: column;
  align-items: center;
  font-size: 4vw;
  gap: 10px;
}
.no2 {
  height: 16vw;
}
.opp {
  display: flex;
  background-color: transparent;
  width: 30vw;
  flex-direction: column;
  align-items: center;
  font-size: 4vw;
  height: 10vw;
  gap: 5px;
}
.opp-1 {
  display: flex;
  background-color: transparent;
  width: 400px;
  flex-direction: column;
  align-items: center;
  font-size: 4vw;
  height: 10vw;
  gap: 10px;
}
.mrg20 {
  margin-top: 20vw;
}
.mrg40 {
  margin-top: 35vw;
}
.mrg10 {
  margin-top: 3vw;
}
.n {
  font-size: 15px;
  color: black;
}
.gmy {
  font-size: 40px;
  color: black;
}
.gye {
  background-color: #0071e3;
  border-radius: 100px;
  height: 44px;
  width: 167px;
  font-size: 16px;
  color: white;
  border: none;
}
.flx {
  display: flex;
  gap: 20px;
}
.ba {
  height: 1.5vw;
  width: 1.5vw;
}
.an {
  height: 44px;
  width: 100px;
  font-size: 16px;
  color: #0071e3;
  background-color: transparent;
  border-radius: 100px;
  border-color: #0071e3;
}
.tt {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.fmrr {
  display: flex;
  width: 100vw;
  align-items: center;
  overflow: scroll hidden;
  gap: 10px;
}
.fmrr-1 {
  margin-bottom: 10px;
  display: flex;
  width: 100vw;
  overflow: scroll hidden;
  height: 368px;
}
.a-jpg {
  height: 700px;
  padding: 20px;
}
.a-jpg-1 {
  height: 100%;
  object-fit: cover;
  padding: 20px;
}
.o {
  padding: 20px;
}
.la {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100vw;
  animation: scroll 20s linear infinite;
  overflow: auto;
  margin-top: 10px;
}
.la-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100vw;
  overflow: auto;
  margin-top: 10px;
  height: 194px;
}
.scrl-1 {
  height: 161px;
}
.scrl-2 {
  height: 194px;
}
.scrl {
  overflow: scroll hidden;
}
.play {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.play img {
  cursor: pointer;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.pip {
  display: flex;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  justify-content: center;
  background-color: gray;
}
.clrfl {
  width: 100vw;
  height: 75px;
}
.no80 {
  width: 100vw;
  height: 80px;
}
.str {
  display: flex;
  width: 100vw;
  height: 100px;
}
.str1 {
  display: flex;
  width: 40vw;
  height: 4vw;
  font-size: 44px;
  margin-left: 6.5vw;
  gap: 5vw;
}
.stc {
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gmt {
  color: #6e6e73;
}
.str2 {
  display: flex;
  font-size: 14px;
  margin-left: 35vw;
}
.str2a {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}
.prs {
  width: 2vw;
  height: 2vw;
  border-radius: 50px;
}
.prdct {
  display: flex;
  width: 90vw;
  height: 146px;
  justify-content: center;
  gap: 2vw;
  margin: auto;
  overflow: scroll;
}
.q {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 136px;
  height: 146px;
  gap: 15px;
}
.w {
  width: 120px;
  height: 78px;
}
.e {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 20px;
}
.no60 {
  width: 100vw;
  height: 60px;
}
.ltl {
  display: flex;
  flex-direction: column;
  gap: 23px;
  justify-content: center;
  width: 90vw;
  height: 565px;
  margin: auto;
}
.ltu {
  display: flex;
  gap: 20px;
  width: 467px;
  height: 34px;
  font-size: 30px;
}
.ltu1 {
  display: flex;
  gap: 20px;
  width: 550px;
  height: 34px;
  font-size: 30px;
}
.ltu2 {
  display: flex;
  gap: 20px;
  width: 1000px;
  height: 34px;
  font-size: 30px;
}
.tl {
  background: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ltt {
  color: #6e6e73;
}
.ai {
  display: flex;
  height: 510px;
  width: 90vw;
  overflow: scroll;
  gap: 2vw;
}
.aii {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 5px;
  margin-left: 5px;
}
.aaa {
  position: relative;
}
.ai1 {
  width: 480px;
  height: 500px;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
}
.ai2 {
  flex-shrink: 0;
  flex-direction: row;
  width: 313px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 5px;
}
.ai3 {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 230px;
  height: 230px;
  margin-top: 50px;
}
.ai4 {
  display: flex;
  flex-direction: column;
  width: 253px;
  height: 58px;
  margin: auto;
}
.ai5 {
  width: 480px;
  height: 500px;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.dd {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 450px;
  height: 88px;
  background-color: transparent;
  color: black;
  margin-top: 25px;
  margin-left: 20px;
}
.dd1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  height: 88px;
  background-color: transparent;
  color: black;
  margin-top: 45px;
  margin-left: 20px;
}
.dd2 {
  width: 380px;
  height: 88px;
  background-color: transparent;
  color: black;
  margin-top: 45px;
  margin-left: 20px;
}
.dd3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  height: 88px;
  background-color: transparent;
  color: black;
  margin-top: 110px;
  margin-left: 20px;
}
.dd4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  height: 88px;
  background-color: transparent;
  color: black;
  margin-top: 100px;
  margin-left: 20px;
}
.dd5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  height: 88px;
  background-color: transparent;
  color: black;
  margin-top: 20px;
  margin-left: 20px;
}
.clr {
  color: #b64400;
  font-size: 12px;
}
.clr1 {
  color: #6e6e73;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.ipcc {
  font-size: 26px;
}
.ipcc1 {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px;
}
.ipcc2 {
  font-size: 40px;
  margin-left: 20px;
}
.ipcc3 {
  color: white;
  font-size: 40px;
  margin-left: 20px;
}
.incc {
  font-size: 18px;
}
.incc1 {
  font-size: 18px;
  margin-top: 20px;
}
.incc2 {
  font-size: 18px;
  margin-top: 0px;
}
.incc3 {
  font-size: 18px;
  margin-top: 50px;
}
.incc4 {
  font-size: 18px;
  margin-left: 20px;
}
.ai div {
  position: relative;
}
.kub {
  display: flex;
  flex-direction: column;
  width: 313px;
  height: 500px;
  gap: 20px;
  background-color: white;
}
.kub1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 313px;
  height: 240px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-top: 5px;
}
.kuby {
  width: 238px;
  height: 94px;
  font-size: 30px;
}
.lstt {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 96px;
}
.qq {
  font-size: 26px;
  margin-left: 110px;
}
.lstt1 {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 40px;
  gap: 10px;
  margin-left: 110px;
  margin-top: 20px;
}
.btn1 {
  width: 125px;
  border-radius: 50px;
  border: black solid 1px;
}
.vector {
  margin-top: 16px;
  position: absolute;
  width: 8px;
  height: 8px;
}
.l1 {
  margin-left: 105px;
}
.l2 {
  margin-left: 240px;
}
.l3 {
  margin-left: 365px;
}
.l4 {
  margin-left: 505px;
}
.nn-butt {
  display: none;
}
.df {
  display: flex;
}
.nm-pic1 {
  position: absolute;
  width: 100vw;
  z-index: -1;
  display: none;
  height: 100vw;
  object-fit: cover;
}
.nan-pp {
  display: none;
}
.nan-pp {
  position: absolute;
  z-index: -1;
  width: 49%;
}
.disflxx {
  display: flex;
}
.disnonn {
  display: none;
}
.fnt-sz {
  font-size: 18px;
}
@media (max-width: 768px) {
  .body {
    width: 768px;
    width: 100%;
    padding: 0 10px;
  }
  .na-butt {
    display: none;
  }
  .nn-butt {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
  .f1 {
    justify-content: space-between;
  }
  .Frm1 {
    aspect-ratio: 768/650;
    position: relative;
    margin-top: 10px;
    height: 100%;
  }
  .pic1 {
    height: 650px;
  }
  .f2 {
    font-size: 14px;
    margin-top: 10px;
  }
  .nm-pic1 {
    display: flex;
    height: 100%;
    object-fit: cover;
  }
  .pic1 {
    display: none;
  }
  .op {
    width: 240px;
  }
  .top {
    width: 40vw;
    margin-top: 480px;
    gap: 10px;
  }
  .gm {
    height: 50px;
  }
  .fmr {
    margin-top: 10px;
  }
  .fmr2 {
    height: 490px;
  }
  .pp {
    height: 490px;
    object-fit: cover;
  }
  .nan-pp {
    display: flex;
    height: 490px;
  }
  .pop {
    margin-top: 250px;
    justify-content: center;
    width: 300px;
  }
  .opp {
    gap: 5px;
    width: 300px;
  }
  .nn-ipad {
    display: none;
  }
  .clr-w {
    color: white;
  }
  .no1 {
    font-size: 18px;
    display: flex;
    height: 40px;
  }
  .no2 {
    display: none;
  }
  .mymy {
    display: none;
  }
  .iu {
    margin-top: 20px;
  }
  .ba {
    height: 40px;
    width: 40px;
  }
  .disnon {
    display: none;
  }
  .disflx {
    display: flex;
  }
}
@media (max-width: 390px) {
  .body {
    width: 390px;
    width: 100%;
    padding: 0 10px;
  }
  .f2 {
    height: 73px;
  }
  .f2-1 {
    display: flex;
    width: 300px;
  }
  .pic1 {
    height: 500px;
  }
  .disnonnn {
    display: none;
  }
  .disflxxx {
    display: flex;
  }
  .Frm1 {
    aspect-ratio: 390/500;
    position: relative;
    margin-top: 10px;
    height: 100%;
  }
  .op {
    margin-top: 350px;
    gap: 0px;
    height: 110px;
  }
  .ip16 {
    font-size: 30px;
  }
  .io {
    font-size: 18px;
  }
  .lrn {
    padding: 5px 10px;
    font-size: 14px;
  }
  .buy {
    padding: 5px 10px;
  }
  .lrn2 {
    padding: 5px 10px;
    font-size: 14px;
  }
  .buy2 {
    padding: 5px 10px;
  }
  .opt {
    margin-top: 40px;
    gap: 0px;
  }
  .fmr {
    aspect-ratio: 390/500;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
  }
  .mymy {
    margin-top: 280px;
    font-size: 20px;
  }
  .pp {
    height: 490px;
    width: 100%;
    object-fit: cover;
  }
  .nan-pp {
    display: flex;
    height: 490px;
    width: 100%;
    object-fit: cover;
  }
  .pop {
    margin-top: 300px;
  }
  .clr-w {
    font-size: 30px;
  }
  .my {
    display: flex;
    justify-content: center;
    width: 300px;
  }
  .opp-1 {
    margin-top: 250px;
  }
  .flx {
    display: flex;
    justify-content: center;
    width: 390px;
  }
  .fmrr-1 {
    height: 495px;
  }
  .tt {
    width: 100%;
    gap: 10px;
  }
  .no60 {
    height: 20px;
  }
}
